.search-container .search-box button, .card-btn, .modal-btn {
  background-color: #1d3557;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 18px;
}

body {
  background-color: #d5bdaf;
  font-family: "Lucida Console", "Courier New", monospace;
}

.inactive {
  display: none;
}

.active-block {
  display: block;
}

.search-container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.search-container .search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.search-container .search-box input {
  height: 30px;
  width: 400px;
  font-size: 20px;
}
.search-container .search-box button {
  font-size: 20px;
  margin-left: 10px;
}
.search-container .dropdown {
  width: 405px;
  position: absolute;
  top: 38px;
  left: 2px;
  z-index: 1;
  background-color: #2b2d42;
  font-size: 16px;
}
.search-container .dropdown a {
  text-decoration: none;
  color: white;
}
.search-container .dropdown-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.search-container .dropdown-close-btn .close-btn {
  font-size: 20px;
  font-weight: bold;
}
.search-container .dropdown-item {
  width: 95%;
  margin-top: 0;
}
.search-container .dropdown-item-p {
  margin: 5px auto;
  padding: 0 10px 0 10px;
}
.search-container .dropdown-item-result:hover {
  color: black;
}
.search-container .dropdown-item-error:hover {
  cursor: default;
}

.card {
  width: 300px;
  margin: 5px 10px;
  background-color: #edede9;
  border-radius: 3px;
  font-size: 16px;
  color: black;
  padding: 0 5px;
  box-shadow: 5px 10px #888888;
}
.card-item {
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.card-action {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.card-btn {
  margin: 3px auto;
}
.card span {
  font-size: 20px;
  font-weight: bold;
}
.card img {
  width: 10%;
}
.card a {
  color: black;
}

.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.modal {
  background-color: #edede9;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  background-color: black;
  position: absolute;
  height: 25%;
  width: 40%;
  box-shadow: 5px 10px #e5e5e5;
  border-radius: 3px;
}
.modal-message {
  color: white;
  margin-top: 80px;
  margin-left: 10px;
  font-size: 20px;
}
.modal-action {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.modal-btn {
  margin: 0 10px;
  font-size: 20px;
}

@media (max-width: 655px) {
  .card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-container {
    width: 300px;
  }
  .search-container .search-box input {
    font-size: 16px;
  }
  .search-container .search-box button {
    font-size: 16px;
  }
  .search-container .dropdown {
    width: 220px;
  }

  .modal-box {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */