$primary-font: 16px;
$header-font: 20px;

%button {
  background-color: #1d3557;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: $header-font;
  padding: 7px 18px;
}
