@use 'utils';

body {
  background-color: #d5bdaf;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.inactive {
  display: none;
}

.active-block {
  display: block;
}

.search-container {
  width: 500px;
  margin: 0 auto;
  position: relative;

  .search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    input {
      height: 30px;
      width: 400px;
      font-size: utils.$header-font;
    }

    button {
      font-size: utils.$header-font;
      margin-left: 10px;
    }
  }

  .dropdown {
    width: 405px;
    position: absolute;
    top: 38px;
    left: 2px;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 1;
    background-color: #2b2d42;
    font-size: utils.$primary-font;

    a {
      text-decoration: none;
      color: white;
    }

    &-close-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;

      .close-btn {
        font-size: utils.$header-font;
        font-weight: bold;
      }
    }

    &-item {
      width: 95%;
      margin-top: 0;

      &-p {
        margin: 5px auto;
        padding: 0 10px 0 10px;
      }

      &-result:hover {
        color: black;
      }

      &-error:hover {
        cursor: default;
      }
    }
  }
}

.card {
  width: 300px;
  margin: 5px 10px;
  background-color: #edede9;
  border-radius: 3px;
  font-size: utils.$primary-font;
  color: black;
  padding: 0 5px;
  box-shadow: 5px 10px #888888;

  &-item {
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  &-action {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }

  &-btn {
    margin: 3px auto;
    @extend %button;
  }

  span {
    font-size: utils.$header-font;
    font-weight: bold;
  }

  img {
    width: 10%;
  }

  a {
    color: black;
  }
}

.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.modal {
  background-color: #edede9;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    background-color: black;
    position: absolute;
    height: 25%;
    width: 40%;
    box-shadow: 5px 10px #e5e5e5;
    border-radius: 3px;
  }

  &-message {
    color: white;
    margin-top: 80px;
    margin-left: 10px;
    font-size: utils.$header-font;
  }

  &-action {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &-btn {
    margin: 0 10px;
    font-size: utils.$header-font;
    @extend %button;
  }
}

@media (max-width: 655px) {
  .card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-container {
    width: 300px;

    .search-box {
      input {
        font-size: utils.$primary-font;
      }

      button {
        font-size: utils.$primary-font;
      }
    }

    .dropdown {
      width: 220px;
    }
  }

  .modal-box {
    width: 80%;
  }
}
