$primary-font: 18px;
$header-font: 22px;

body {
  background-color: #edede9;
}

.search-container {
  width: 500px;
  margin: 0 auto;
  position: relative;

  .search-box {
    display: flex;
    justify-content: center;

    input {
      height: 30px;
      width: 400px;
      font-size: $header-font;
    }

    button {
      font-size: $header-font;
    }
  }

  .dropdown {
    width: 98%;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #2b2d42;
    font-size: $primary-font;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: black;
    }

    &-close-btn {
      display: flex;
      justify-content: flex-end;

      .close-btn {
        font-size: $primary-font;
        font-weight: bold;
      }
    }

    &-item {
      width: 100%;
      margin-bottom: 5px;
      margin-top: 0;
    }
  }
}

.card {
  width: 300px;
  margin: 5px 5px;
  background-color: #e63946;
  border: 1px solid;
  border-radius: 3px;
  font-size: $primary-font;
  padding: 0 5px;

  &-item {
    display: flex;
    justify-content: space-between;
  }

  &-action {
    display: flex;
    justify-content: center;
  }

  img {
    width: 10%;
  }

  &-btn {
    margin: 3px auto;
    font-size: 18px;
  }

  span {
    font-size: $header-font;
    font-weight: bold;
  }
}

.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.inactive {
  display: none;
}

.active-block {
  display: block;
}

.modal {
  background-color: #1d3557;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    background-color: black;
    position: absolute;
    height: 25%;
    width: 40%;
  }

  &-message {
    color: white;
    margin-top: 80px;
    margin-left: 10px;
    font-size: $header-font;
  }

  &-action {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &-btn {
    margin: 0 10px;
    font-size: $primary-font;
  }
}
